WeChatAPI.Desktop/bin
WeChatAPI.Desktop/obj
WeChatAPI.Desktop.Demo/bin
WeChatAPI.Desktop.Demo/obj
WeChatAPI.Universal/bin
WeChatAPI.Universal/obj
WeChatAPI.Universal.Demo/bin
WeChatAPI.Universal.Demo/obj
packages/
